<section>

	<h3>About Myself</h3>

	<div class="face-lockup">

		<div class="face-img"></div>

		<div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
		<div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
		<div class="icon-browser">{% include icons/icon-browser.html %}</div>
		<div class="icon-video">{% include icons/icon-video.html %}</div>

	</div>


	<div class="blurb">
		<p><strong>Sartorial ugh distillery narwhal </strong>ethical semiotics beard craft beer squid. Kombucha waistcoat neutra bitters. Irony health goth pork belly organic chillwave meditation. Normcore echo park master cleanse post-ironic artisan asymmetrical, lo-fi vinyl sriracha drinking vinegar kitsch fanny pack microdosing. </p>
    </div>

	<div class="skill-lockup">

	</div>



</section>