.alt-section {
  background: #ddd;
}

.alt-section .thumb-container {
  max-width: 960px;
  margin: 0px auto;
  padding-bottom: 100px;
  overflow: hidden;
}

.alt-section .thumb-container .thumb-unit {
  display: block;
  float: left;
  width: 25%;
  padding-top: 16%;
  position: relative;
  background-image: url(/assets/img/face.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  perspective: 300px;
}

@media screen and (max-width: 760px) {
  .alt-section .thumb-container .thumb-unit {
    width: 50%;
    padding-top: 26%;
  }
}

.alt-section .thumb-container .thumb-unit .thumb-overlay {
  position: absolute;
  top: 0%;
  bottom: null;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(255, 0, 0, 0.9);
  text-align: center;
  transition: linear 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  transition: opacity, 300ms, ease-in, 500ms;
}

.alt-section .thumb-container .thumb-unit .thumb-overlay strong {
  display: block;
  padding: 0px 20px;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.2;
}

.alt-section .thumb-container .thumb-unit:hover {
  z-index: 1;
}

.alt-section .thumb-container .thumb-unit:hover .thumb-overlay {
  opacity: 1;
}
